@use "./reset.scss";
@use "./ufont.scss";
@use "./theme.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 1.5em;
  padding: 0.5em;
}

body {
  margin: auto;
  max-width: 600px;
}

#source {
  width: 100%;
  resize: vertical;
  min-height: 3em;
  font-family: u0400;
  font-size: inherit;
  border-color: theme.$color-accent;
  outline: none;
  border-radius: 0.25em;
  padding: 0.5em;
}

#source:focus {
  border-color: theme.$color-primary;
}

#output {
  margin-top: 1em;
  display: block;
}
