@use "./reset.scss";
@use "./ufont.scss";
@use "./theme.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 1.5em;
  padding: 0.5em;
}

body {
  margin: auto;
  max-width: 600px;
}

#source {
  width: 100%;
  resize: vertical;
  min-height: 3em;
  font-family: u0400;
  font-size: inherit;
  border-color: theme.$color-accent;
  outline: none;
}

#source:focus {
  border-color: theme.$color-primary;
}

h1 {
  font-family: "Noto Sans Phoenician", "Noto Rashi Hebrew", "Noto Sans Display";
}

#output {
  color: theme.$color-accent;
  background: theme.$color-primary;
  border: 1px solid theme.$color-accent;
  display: block;
  min-height: 1.5em;
}

#outputSection {
  margin: 1em 0;
}

#source,
#output {
  border-radius: 0.25em;
  padding: 0.5em;
}

#source {
  position: sticky;
  top: 0;
}
