@use "./ufont.scss";
@use "./theme.scss";
@use "sass:color";

button {
  font-family: u0400;
  font-size: 1em;
  width: 2ch;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
}

:host > div {
  display: flex;
  flex-wrap: wrap;
}
div > * {
  flex-grow: 1;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  gap: 0.1em;
}

fieldset > * {
  flex-grow: 1;
}

.letters fieldset > div {
  display: flex;
}

.niqqud button::before,
.taamim button::before {
  content: "א";
}

$button-border-radius: 3px;

button {
  background: theme.$color-primary;
  &:hover {
    background: color.adjust(theme.$color-primary, $lightness: -20%);
  }
  cursor: pointer;
  $size: 4ch;
  width: $size;
  height: $size;
  border: 1px solid theme.$color-accent;
  border-radius: $button-border-radius;
}

.buttonGroup {
  button {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  button:not(:last-child) {
    border-inline-end: dashed 1px rgba(theme.$color-accent, 0.5);
  }

  button:first-child {
    border-inline-start: 1px solid theme.$color-accent;
    border-start-start-radius: $button-border-radius;
    border-end-start-radius: $button-border-radius;
  }
  button:last-child {
    border-inline-end: 1px solid theme.$color-accent;
    border-start-end-radius: $button-border-radius;
    border-end-end-radius: $button-border-radius;
  }
}
