@use "./ufont.scss";

button {
  font-family: u0400;
  font-size: 1em;
  width: 2ch;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
}

:host > div {
  display: flex;
  flex-wrap: wrap;
}
div > * {
  flex-grow: 1;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  gap: 0.1em;
}

fieldset > * {
  flex-grow: 1;
}

.letters fieldset > div {
  display: flex;
}

.niqqud button::before,
.taamim button::before {
  content: "×";
}

button {
  background: #f1d360;
  $size: 4ch;
  width: $size;
  height: $size;
  border: 1px solid #0086be;
  border-radius: 3px;
}

.sofitGroup {
  :first-child {
    border-inline-start: 1px solid #0086be;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  :last-child {
    border-inline-end: 1px solid #0086be;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  button {
    border-left: 0;
    border-right: 0;
  }

  :first-child {
    border-inline-end: dashed 1px #0086be77;
  }
}
